body{
    background-color: yellowgreen;
    min-width: 100vw;
    min-height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cell{
    display: flex;
    align-items: center;
    border: 2px black solid;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}



.grid{
    display:flex;
    
}